html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

#root {
  height: 100%; }

.header {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: bold;
  padding: 20px; }

input, button {
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 15px; }

input {
  background-color: #EEF0F2;
  width: 450px;
  height: 30px; }

button {
  cursor: pointer;
  width: 90px;
  height: 25px;
  background-color: #5C97C1;
  color: #FFFFFF;
  margin-right: 10px; }

a:link {
  color: #FFFFFF; }

a:visited {
  color: #A6A1A0; }
